@model SIT.Models.FileUpload
@{
    ViewData["Title"] = "Edit";

    Layout = "~/Views/Shared/SidebarMenu.cshtml";
    var rutafoto = "~/images/" + (Model.Foto ?? "SinFoto.png");
}

@using (Html.BeginForm("Edit", "Sectors", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h1>Editar</h1>

    <h4>Sector</h4>
    <hr />
    <div class="flex">
        
        <form asp-action="Edit">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Foto" />
                <div class="col-6">

                    <label asp-for="Sector1" class="control-label m-1" style="font-size:medium">Sector</label>
                    <input id="txtSector" asp-for="Sector1" class="form-control m-1" />
                    <span asp-validation-for="Sector1" class="text-danger m-1"></span>

                </div>
                <div class="col-6">
                    <div class="col-6">
                        <label asp-for="Status" class="control-label" style="font-size:medium">Estatus</label>
                        <select id="status" asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-6">
                        <label asp-for="IdArea" class="control-label" style="font-size:medium">Area</label>
                        <select id="IdArea" asp-for="IdArea" class="form-control" asp-items="ViewBag.Area"></select>
                        <span asp-validation-for="IdArea" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <label asp-for="Orden" class="control-label" style="font-size:medium"></label>
                        <input id="TXTOrden" asp-for="Orden" class="form-control" />
                        <span asp-validation-for="Orden" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">

                    <label asp-for="Foto" class="control-label" style="font-size:medium" ;>Foto</label>
                    <div class="custom-file">
                        <input asp-for="rutaFoto" id="txtfile" class="form-control custom-file-input" />
                        <label class="custom-file-label">Seleccione un fichero</label>
                    </div>
                    <div class="col-md-4">
                        <img id="imgViewer" class="card-img-top image" src="@rutafoto" asp-append-version="true" />
                    </div>
                </div>

                <div>

                    <button asp-action="Index" id="btnRegresar" class=" btn btn-success m-1" style="width:120px;height:35px;font-size:medium;">
                        <i class="fas fa-backward"></i>
                        Regresar

                    </button>
                    <button type="submit" id="btnGuardar" class=" btn btn-primary m-1" style="width:120px;height:35px; font-size:medium;">
                        <i class="fas fa-save"></i>
                        Guardar

                    </button>
                </div>
            </div>
        </form>

    </div>

    
    <style>
        .image {
            height: 100px;
            width: 100px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var filename = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(filename);
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

        });
        $("#txtfile").change(function (event) {
            var files = event.target.files;
            $("#imgViewer").attr("src", window.URL.createObjectURL(files[0]));
        });
        $("#btnread").click(function () {
            $.ajax({

                type: "GET",
                url: "/Home/GetSavedSector",
                success: function (data) {
                    $("#txtSector").val(data.Sector);
                    $("#TXTOrden").val(data.Orden);
                    $("#imgViewer").attr("src", "data:image/jpg;base64," + data.Foto + "");
                },
                error: function (data) {
                    console.log('Error:', data);
                }
            });
        });
        $("#btnsave").click(function () {
            var files = $("#txtfile").prop("files");
            var formdata = new FormData();
            for (var i = 0; i < files.length; i++) {
                formdata.append("file", files[i]);
            }
            var oSector = {
                Sector1: $("#txtSector").val(),
                Orden: $("#TXTOrden").val(),
                Status: $("#Status").val(),
            };
            formdata.append("Sector", JSON.stringify(oSector));
            $.ajax({

                type: "POST",
                url: "/Sectors/SaveSector",
                data: formdata,
                processData: false,
                contentType: false,
                success: function (data) {
                    ResetFields();
                    alert(data);
                },
                error: function (data) {
                    console.log('Error:', data);
                }
            });
        });
        function ResetFields() {
            $("#txtSector,#TXTOrden").val("");
            $("#imgViewer").attr("src", "");
        }


    </script>
}
