@model SIT.Models.Sucursal

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/SidebarMenu.cshtml";
}

<h1>Delete</h1>

<h3>¿Está seguro que desea eliminar este registro?</h3>
<div>
    <h4>Sucursal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sucursal1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sucursal1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idSinAgro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idSinAgro)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
